HumanResourcesTool/HumanResourcesTool/Connected Services/ServiceReference/HRWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HRWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58483/HRWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58483/HRWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58483/HRWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="HRWebServices_GetPositions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPositions" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetPositions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionsResponse" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetTitles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTitles" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetTitles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTitlesResponse" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetProvinces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinces" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetProvinces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvincesResponse" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetLastEmployeeId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastEmployeeId" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetLastEmployeeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastEmployeeIdResponse" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_insertDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:insertDepartments" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_insertDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_insertEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:insertEmployees" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_insertEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetVerifyIfEmployeeExist_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVerifyIfEmployeeExist" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetVerifyIfEmployeeExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVerifyIfEmployeeExistResponse" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetEmployeeInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeInfo" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_GetEmployeeInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_updateEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:updateEmployees" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_updateEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_deleteEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteEmployees" />
  </wsdl:message>
  <wsdl:message name="HRWebServices_deleteEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteEmployeesResponse" />
  </wsdl:message>
  <wsdl:portType name="HRWebServices">
    <wsdl:operation name="GetPositions">
      <wsdl:input wsaw:Action="http://tempuri.org/HRWebServices/GetPositions" message="tns:HRWebServices_GetPositions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HRWebServices/GetPositionsResponse" message="tns:HRWebServices_GetPositions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/HRWebServices/GetDepartments" message="tns:HRWebServices_GetDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HRWebServices/GetDepartmentsResponse" message="tns:HRWebServices_GetDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTitles">
      <wsdl:input wsaw:Action="http://tempuri.org/HRWebServices/GetTitles" message="tns:HRWebServices_GetTitles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HRWebServices/GetTitlesResponse" message="tns:HRWebServices_GetTitles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/HRWebServices/GetCountries" message="tns:HRWebServices_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HRWebServices/GetCountriesResponse" message="tns:HRWebServices_GetCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <wsdl:input wsaw:Action="http://tempuri.org/HRWebServices/GetProvinces" message="tns:HRWebServices_GetProvinces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HRWebServices/GetProvincesResponse" message="tns:HRWebServices_GetProvinces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <wsdl:input wsaw:Action="http://tempuri.org/HRWebServices/GetCities" message="tns:HRWebServices_GetCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HRWebServices/GetCitiesResponse" message="tns:HRWebServices_GetCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/HRWebServices/GetEmployees" message="tns:HRWebServices_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HRWebServices/GetEmployeesResponse" message="tns:HRWebServices_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastEmployeeId">
      <wsdl:input wsaw:Action="http://tempuri.org/HRWebServices/GetLastEmployeeId" message="tns:HRWebServices_GetLastEmployeeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HRWebServices/GetLastEmployeeIdResponse" message="tns:HRWebServices_GetLastEmployeeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/HRWebServices/insertDepartments" message="tns:HRWebServices_insertDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HRWebServices/insertDepartmentsResponse" message="tns:HRWebServices_insertDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/HRWebServices/insertEmployees" message="tns:HRWebServices_insertEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HRWebServices/insertEmployeesResponse" message="tns:HRWebServices_insertEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVerifyIfEmployeeExist">
      <wsdl:input wsaw:Action="http://tempuri.org/HRWebServices/GetVerifyIfEmployeeExist" message="tns:HRWebServices_GetVerifyIfEmployeeExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HRWebServices/GetVerifyIfEmployeeExistResponse" message="tns:HRWebServices_GetVerifyIfEmployeeExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/HRWebServices/GetEmployeeInfo" message="tns:HRWebServices_GetEmployeeInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HRWebServices/GetEmployeeInfoResponse" message="tns:HRWebServices_GetEmployeeInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/HRWebServices/updateEmployees" message="tns:HRWebServices_updateEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HRWebServices/updateEmployeesResponse" message="tns:HRWebServices_updateEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/HRWebServices/deleteEmployees" message="tns:HRWebServices_deleteEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HRWebServices/deleteEmployeesResponse" message="tns:HRWebServices_deleteEmployees_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_HRWebServices" type="tns:HRWebServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPositions">
      <soap:operation soapAction="http://tempuri.org/HRWebServices/GetPositions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap:operation soapAction="http://tempuri.org/HRWebServices/GetDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitles">
      <soap:operation soapAction="http://tempuri.org/HRWebServices/GetTitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://tempuri.org/HRWebServices/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <soap:operation soapAction="http://tempuri.org/HRWebServices/GetProvinces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://tempuri.org/HRWebServices/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/HRWebServices/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastEmployeeId">
      <soap:operation soapAction="http://tempuri.org/HRWebServices/GetLastEmployeeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertDepartments">
      <soap:operation soapAction="http://tempuri.org/HRWebServices/insertDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertEmployees">
      <soap:operation soapAction="http://tempuri.org/HRWebServices/insertEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerifyIfEmployeeExist">
      <soap:operation soapAction="http://tempuri.org/HRWebServices/GetVerifyIfEmployeeExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeInfo">
      <soap:operation soapAction="http://tempuri.org/HRWebServices/GetEmployeeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmployees">
      <soap:operation soapAction="http://tempuri.org/HRWebServices/updateEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEmployees">
      <soap:operation soapAction="http://tempuri.org/HRWebServices/deleteEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HRWebService">
    <wsdl:port name="BasicHttpBinding_HRWebServices" binding="tns:BasicHttpBinding_HRWebServices">
      <soap:address location="http://localhost:58483/HRWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>