HumanResourcesTool/HumanResourcesTool/Connected Services/ServiceReference/HRWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftblCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblCity" nillable="true" type="tns:tblCity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblCity" nillable="true" type="tns:ArrayOftblCity" />
  <xs:complexType name="tblCity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cit_CityId" type="xs:int" />
      <xs:element minOccurs="0" name="Cit_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pro_ProvinceId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblCity" nillable="true" type="tns:tblCity" />
</xs:schema>