HumanResourcesTool/HumanResourcesTool/Connected Services/ServiceReference/HRWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftblPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblPosition" nillable="true" type="tns:tblPosition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblPosition" nillable="true" type="tns:ArrayOftblPosition" />
  <xs:complexType name="tblPosition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pos_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pos_PositionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblPosition" nillable="true" type="tns:tblPosition" />
  <xs:complexType name="ArrayOftblDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblDepartment" nillable="true" type="tns:tblDepartment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblDepartment" nillable="true" type="tns:ArrayOftblDepartment" />
  <xs:complexType name="tblDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dep_DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="Dep_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblDepartment" nillable="true" type="tns:tblDepartment" />
  <xs:complexType name="ArrayOftblTitle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblTitle" nillable="true" type="tns:tblTitle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblTitle" nillable="true" type="tns:ArrayOftblTitle" />
  <xs:complexType name="tblTitle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Tit_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tit_TitleId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblTitle" nillable="true" type="tns:tblTitle" />
  <xs:complexType name="ArrayOftblCountry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblCountry" nillable="true" type="tns:tblCountry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblCountry" nillable="true" type="tns:ArrayOftblCountry" />
  <xs:complexType name="tblCountry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cuo_CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="Cuo_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tblProvinces" nillable="true" type="tns:ArrayOftblProvince" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblCountry" nillable="true" type="tns:tblCountry" />
  <xs:complexType name="ArrayOftblProvince">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblProvince" nillable="true" type="tns:tblProvince" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblProvince" nillable="true" type="tns:ArrayOftblProvince" />
  <xs:complexType name="tblProvince">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cou_Countryid" type="xs:int" />
      <xs:element minOccurs="0" name="Pro_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pro_ProvinceId" type="xs:int" />
      <xs:element minOccurs="0" name="tblCountry" nillable="true" type="tns:tblCountry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblProvince" nillable="true" type="tns:tblProvince" />
  <xs:complexType name="ArrayOftblCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblCity" nillable="true" type="tns:tblCity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblCity" nillable="true" type="tns:ArrayOftblCity" />
  <xs:complexType name="tblCity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cit_CityId" type="xs:int" />
      <xs:element minOccurs="0" name="Cit_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pro_ProvinceId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblCity" nillable="true" type="tns:tblCity" />
  <xs:complexType name="ArrayOftblEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblEmployee" nillable="true" type="tns:tblEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblEmployee" nillable="true" type="tns:ArrayOftblEmployee" />
  <xs:complexType name="tblEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cit_CityId" type="xs:int" />
      <xs:element minOccurs="0" name="Dep_DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="Emp_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emp_AnualSalary" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Emp_BirthOfDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Emp_CellPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emp_Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emp_EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="Emp_FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emp_Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emp_HourlyRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Emp_LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emp_Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emp_Photo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Emp_PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emp_StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Emp_TerminationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Pos_PositionId" type="xs:int" />
      <xs:element minOccurs="0" name="Tit_TitleId" type="xs:int" />
      <xs:element minOccurs="0" name="tblCity" nillable="true" type="tns:tblCity" />
      <xs:element minOccurs="0" name="tblDepartment" nillable="true" type="tns:tblDepartment" />
      <xs:element minOccurs="0" name="tblPosition" nillable="true" type="tns:tblPosition" />
      <xs:element minOccurs="0" name="tblTitle" nillable="true" type="tns:tblTitle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblEmployee" nillable="true" type="tns:tblEmployee" />
</xs:schema>