HumanResourcesTool/HumanResourcesTool/Connected Services/ServiceReference/HRWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58483/HRWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" minOccurs="0" name="GetPositionsResult" nillable="true" type="q1:ArrayOftblPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" minOccurs="0" name="GetDepartmentsResult" nillable="true" type="q2:ArrayOftblDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" minOccurs="0" name="GetTitlesResult" nillable="true" type="q3:ArrayOftblTitle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" minOccurs="0" name="GetCountriesResult" nillable="true" type="q4:ArrayOftblCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvincesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" minOccurs="0" name="GetProvincesResult" nillable="true" type="q5:ArrayOftblProvince" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvincesByCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvincesByCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" minOccurs="0" name="GetProvincesByCountryResult" nillable="true" type="q6:ArrayOftblProvince" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" minOccurs="0" name="GetCitiesResult" nillable="true" type="q7:ArrayOftblCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesByProvince">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProvinceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesByProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" minOccurs="0" name="GetCitiesByProvinceResult" nillable="true" type="q8:ArrayOftblCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinceIdByCityId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinceIdByCityIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProvinceIdByCityIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryIdByProvinceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProvinceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryIdByProvinceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountryIdByProvinceIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q9:ArrayOftblEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastEmployeeId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastEmployeeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastEmployeeIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertDepartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" minOccurs="0" name="objDepartment" nillable="true" type="q10:tblDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertDepartmentsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" minOccurs="0" name="objEmployee" nillable="true" type="q11:tblEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertEmployeesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerifyIfEmployeeExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerifyIfEmployeeExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVerifyIfEmployeeExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" minOccurs="0" name="GetEmployeeInfoResult" nillable="true" type="q12:tblEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFResourceHumanServices" minOccurs="0" name="objEmployee" nillable="true" type="q13:tblEmployee" />
        <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateEmployeesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteEmployeesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>